.space-around {
  display: flex;
  justify-content: space-around;
}

.full-screen {
  height: 100vh;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}